<div class="photoGallery">
  <header class="photo">Photo Gallery</header>
  <div class="grid-container">
    <div class="gallery">
      <figure class="gallery__item  gallery__item_amazon">
        <img src="../assets/amazon.jpg" class="gallery__img gallery__item_amazon" id="photoGalleryImages">
      </figure>

      <figure class="gallery__item  gallery__item_yahoo">
        <img src="../assets/yahoo.jpg" class="gallery__img gallery__item_yahoo" id="photoGalleryImages">
      </figure>

      <figure class="gallery__item  gallery__item_facebook">
        <img src="../assets/facebook.jpg" class="gallery__img gallery__item_facebook" id="photoGalleryImages">
      </figure>
      <figure class="gallery__item  gallery__item_microsoft">
        <img src="../assets/microsoft.jpg" class="gallery__img gallery__item_microsoft" id="photoGalleryImages">
      </figure>
      <figure class="gallery__item  gallery__item_google">
        <img src="../assets/google.jpg" class="gallery__img gallery__item_google" id="photoGalleryImages">
      </figure>
      <figure class="gallery__item  gallery__item_apple">
        <img src="../assets/apple.jpg" class="gallery__img gallery__item_apple" id="photoGalleryImages">
      </figure>
    </div>
  </div>
  <footer>Made with &#10084;&#65039; by Kishore</footer>
</div>